# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../webScrapper\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../:\prg2020\github stuff\webScrapper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
